<div class="container">
    <h2>View Bus Details</h2>
    <div class="panel panel-default">
      <div class="panel-heading"><h3><b>{{bus.model}}</b></h3></div>
      <div class="panel-body">Departure Time : {{bus.time}}</div>
      <div class="panel-body">From : {{bus.from}}</div>
      <div class="panel-body">To : {{bus.to}}</div>
      <div class="panel-body">Seat Available : {{bus.seat}}</div>
      <div class="panel-body">Price : {{bus.price}}</div>
      <div class="panel-footer">
        <span class="edit btn-danger btn-sm btn"><a routerLink="/booking/user-form" style="color:azure">Proceed to User Details</a></span> &nbsp;
      </div>
    </div>
  </div>
  